*{
    margin:0px;
    padding:0px;
    
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'MedievalSharp', cursive;
    color:floralwhite;
    background-color: darkslateblue;
}
.castle__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
    font-size: 100px;
    flex:1 1 auto;
}
.castle__title img{
    height:500px;
    width:300px;
}

.select__options{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding:10px; 
    margin-bottom: 160px;
    
}

.select__options a{
    color:white;
    font-size: 40px;
    
}

.rules__Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 80px;
    font-size: 40px;
    margin-bottom: 20px;
}

.rulesTitle{
    font-size: 75px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    
}

.next__Players a{
    color:white;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    font-size: 40px;
}

.meet_Players{
    display: flex;
    align-items: center;
    font-size: 200px;
    
    
}





.carousel{
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width:100%;
    position:relative;
    
    
    
    
}
.carousel__image{
    
    height:500px;
    width:400px;
    
    

}
.carousel__track-container{
    font-size: 80px;
    height:100%;
    position:relative;
    width:100%;
    
    
}

.carousel__track{
    padding:0;

    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom:60px;
    
}
/*sets postion of images and hides by default*/
.carousel__slide{
    display: none;
    position: absolute;
    

}

.carousel__button{
    position:relative;
    height:60px;
    cursor: pointer;
}
.carousel__button img{
    width:20px;
}

.carousel__nav{

    margin-top:250px;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.carousel__indicator{
    border:0;
    width:15px;
    height:15px;
    padding:10px;
    margin:0 12px;
    background:rgba(0,0,0,.3);

}

.carousel__indicator.current-slide{
    background:rgba(0,0,0,.75);

}






.lets__Play{
    margin-top: 300px;
}











/*
.pictureBox{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
} 


.directionLinks{
    display: flex;
    justify-content: center;
    font-family: 'MedievalSharp', cursive;
    font-size: xx-large;
    margin-bottom: 100px;

}
.directionLinks a{
    padding:100px;
    color: white;
}



.rules__image img{
    
}
.characterScroll{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 400px;
}
.characterScroll img{
    height:400px;
}
.characterScroll button{
    height:50px;
    width:60px;
    font-size: 40px;
}
.meet-Players{
    font-size: 89px;
}



#characters{
    margin:100px;
}


#letsPlay{
    margin:100px;



}
*/